#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #3b3b3b; /* Deep Red */
  color: #ffc300; /* Bright Yellow */
  font-family: "Arial", sans-serif;
}

.dice-logo {
  animation: subtle-bounce 3s ease-in-out infinite;
  transform-origin: center;
}

.dice-header {
  background-color: #D4A373;
}

}
@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-2px) rotate(-3deg);
  }
}

.text-gradient {
  background: linear-gradient(90deg, #ff00cc, #00ffd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-area {
  position: fixed;
  top: 20px; /* hard-coded offset from top */
  left: 0;
  right: 0;
  /* background: #4a90e2; */
  color: #fff;
  padding: 16px;
  text-align: center;
  font-family: sans-serif;

  /* border: 1px solid pink; */
}
