@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", monospace;
  margin: 0;
  padding: 0;
  background-color: #2c1b10;
  color: #f0e7d5;
}
